@import '../../stylesheets/variables';

.main{
    .main-header{
        padding: 2rem 2rem 0rem 2rem;
        border-bottom: 1px solid $color-warm-grey;
    }
    .main-body{
        padding-bottom:2rem;
        background-color: $color-light-grey;
    }
    .main-footer{
        padding: 2rem;
        border-top: 1px solid $color-warm-grey;
    }
}
