@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Josefin+Slab");
.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #63614B;
  font-weight: lighter; }
  .App h1, .App h2, .App h3 {
    letter-spacing: .1em;
    font-weight: lighter; }
  .App h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0; }
  .App a {
    color: #AB9E39;
    cursor: pointer;
    text-decoration: none; }
    .App a:hover {
      cursor: pointer;
      color: #D4C134; }

.main .main-header {
  padding: 2rem 2rem 0rem 2rem;
  border-bottom: 1px solid #63614B; }

.main .main-body {
  padding-bottom: 2rem; }

.nav-bar ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none; }
  .nav-bar ul li {
    padding: .5rem .5rem .25rem .5rem;
    display: inline-block;
    border-bottom: .25rem solid transparent; }
    .nav-bar ul li:hover {
      cursor: pointer;
      color: #D4C134;
      border-bottom: 0.25rem solid #D4C134;
      box-sizing: border-box; }
    .nav-bar ul li.active {
      border-bottom: 0.25rem solid #D4C134;
      box-sizing: border-box; }
      .nav-bar ul li.active a {
        color: #D4C134; }
  .nav-bar ul a,
  .nav-bar ul p {
    padding: 1rem;
    display: inline-block;
    box-sizing: border-box; }

.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  /*default*/
  width: auto;
  margin: 0 auto; }

.featured-artwork .image-container {
  width: 50%;
  min-width: 300px;
  margin: auto;
  padding: 5rem 2rem 2rem 2rem; }

.featured-artwork .caption {
  font-style: italic; }

.featured-artwork img {
  border: 1px solid #63614B; }
